doctype html 
html(lang='en', xmlns='http://www.w3.org/1999/html')

include ./head.jade
link(href='css/base.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')
link(href='css/core.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')
link(href='css/ctc_wide.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')

body
  div#ctcApp
    div.header.boxShadow.bg_gray
      div.menu.left.mleft2
        a(href="/ctc").right.menuItem.white Clinical Trial Catalog
      div.menu.right.mright2
        a(href="/ct.gov").right.menuItem.white CT.gov
      div.leftNav.left.bg_gray
        div.sideMenuItem.mtop2
          a(href="/Charts").white Charts 
        div.sideMenuItem
          a(href="/Profile").white Profile
        div.sideMenuItem
          a(href="/Logout").white Logout
    div.main.right.leftOffset.mbottom3
      div.profile.clear
        div.searchPanel
          form(name="search", action="/search", method="post")
            input(type="text", name="searchText").bg_white.mtop2
            input(type="submit", value="Search Catalog").bg_red.white
