@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

#ctc {
  clear:both;
  overflow: hidden;
}

body {
/*   background: url('./images/bigdata.jpg') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}


.login-card {
  padding: 40px;
  width: 50%;
  background-color:#00B1B5;
  margin: 0 auto 10px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}


.left {
  float: left;
}
.right {
  float: right;
}
.border_red {
    border-color:#841b54;
}
.main {
    position:relative;
    width:100%;
    top:50px;
    z-index: 0;
}
.border_blue {
    border-color:#57a7c5;
}
.border_gray {
    border-color:#3f4151;
}
.border_yellow {
    border-color:#ffe319;
}
.white {
    color:#fefeff;
}
.red {
    color:#841b54;
}
.blue {
    color:#57a7c5;
}
.gray {
    color:#3f4151;
}
.yellow {
    color:#ffe319;
}
.bg_red {
    background-color:#841b54;
    height:45px;
}
.bg_blue {
    background-color:#57a7c5;
}
.bg_gray {
    background-color:#3f4151;
}
.bg_yellow {
    background-color:#ffe319;
}
.bg_white {
    background-color: #fefeff;
}
.bg_blueGreen {
/*    border-left:3px solid #00B1B5; */
    background-color: #00B1B5;
}
.label {
    width:100%;
    display: block;
    letter-spacing: 0.1em;
    text-align:center;
}
.middleLabel {
  float:left;
  text-align:center;
  font-size:1em;
  width:100%;
}
.header {
    width:100%;
    height:50px;
    position: fixed;
    z-index:1010;
    display: block;
    box-shadow: 0 1 1px rgba(0, 0, 0, 0.1);
}
.boxShadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.nav {
    line-height: 50px;
    width:100%;
    height:50px;
    display: block;
}
.panel {
    padding:0 10%;
    width:100%;
    display: block;
    clear: both;
    overflow: hidden;
  -webkit-overflow-scrolling:touch;
}
.dashboard{
  width: 70%;
  background-color:#EFFBF8;
  margin: 0 auto 10px;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login {
  text-align: center;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  height: 45px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #424242;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color:#8A0808;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #fefeff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
